@model PagedList.IPagedList<AusenciaRemuneradaSearch>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Busca de Ausência Remunerada";
    }

    <h1 class="headerForm">@ViewBag.Title</h1>

    @**************************************************************************************************************************@
    @*                                                 Filtros de Busca                                                       *@
    @**************************************************************************************************************************@
    @using (Html.BeginForm("AusenciaRemuneradaIndex", "AusenciaRemunerada", FormMethod.Get))
    {
        <div class="editorCategoria">
            <p><label for="colaboradorkeySearchString">Colaborador</label>@Html.DropDownList("colaboradorkeySearchString", "--- Selecione ---")</p>
            <p><label for="descausenciaSearchString">Descrição da Ausência</label>@Html.TextBox("descausenciaSearchString", null, new { maxlength = "255" })</p>
            <p><label for="dtiniSearchString">Data inicial da vigência</label>@Html.TextBox("dtiniSearchString", null, new { @class = "dp" })</p>
            <p><label for="dtfimSearchString">Data final da vigência</label>@Html.TextBox("dtfimSearchString", null, new { @class = "dp" })</p>
            <p>
                <label for="statusSearchString">Status</label>      @Html.RadioButton("statusSearchString", "A", true, ViewBag.StatusFilter as string)Ativo
                @Html.RadioButton("statusSearchString", "I", ViewBag.StatusFilter as string)Inativo
            </p>
        </div>
        <p>
            <input type="submit" id="buscaAusenciaRemunerada" value="Buscar" class="botoesCategoria" />
            @Html.ActionLink("Limpar", "AusenciaRemuneradaIndex", "AusenciaRemunerada", null, new { @class = "botoesCategoria" })
            @Html.ActionLink("Novo", "AusenciaRemuneradaCreate", "AusenciaRemunerada", null, new { @class = "botoesCategoria" })
        </p>

    }


    @**************************************************************************************************************************@
    @*                                          Cabeçalho e loop do resultado da busca                                        *@
    @**************************************************************************************************************************@
    <table class="dufry" width="80%">
        <tr>
            <th>
                @Html.ActionLink("Colaborador", "AusenciaRemuneradaIndex", "AusenciaRemunerada"
                , new
                {
                    sortOrder = ViewBag.ColaboradorSortParam,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    descausenciaSearchString = ViewBag.descausenciaFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Descrição", "AusenciaRemuneradaIndex", "AusenciaRemunerada"
                , new
                {
                    sortOrder = ViewBag.DescricaoSortParam,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    descausenciaSearchString = ViewBag.descausenciaFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Inicial", "AusenciaRemuneradaIndex", "AusenciaRemunerada"
                , new
                {
                    sortOrder = ViewBag.DtIniSortParam,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    descausenciaSearchString = ViewBag.descausenciaFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Final", "AusenciaRemuneradaIndex", "AusenciaRemunerada"
                , new
                {
                    sortOrder = ViewBag.DtFimSortParam,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    descausenciaSearchString = ViewBag.descausenciaFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Status", "AusenciaRemuneradaIndex", "AusenciaRemunerada"
                , new
                {
                    sortOrder = ViewBag.StatusSortParam,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    descausenciaSearchString = ViewBag.descausenciaFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.ActionLink(item.DESC_AUSENCIA, "AusenciaRemuneradaEdit", "AusenciaRemunerada", new { id = item.ID_AUSENCIA_REMUNERADA }, new { @class = "tablerowlink" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_INI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_FIM)
                </td>
                @if (item.STATUS == "A")
                {
                    <td>Ativo</td>
                }
                else
                {
                    <td>Inativo</td>
                }
                <td>
                    @Html.ActionLink("Excluir", "AusenciaRemuneradaDelete", "AusenciaRemunerada", new { id = item.ID_AUSENCIA_REMUNERADA }, new { @class = "tablerowlink" })
                </td>
            </tr>
        }
    </table>


    @**************************************************************************************************************************@
    @*                                                        Paginação                                                       *@
    @**************************************************************************************************************************@
    <br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("AusenciaRemuneradaIndex"
    , new
    {
        sortOrder = ViewBag.CurrentSort,
        colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
        descausenciaSearchString = ViewBag.descausenciaFilter,
        dtiniSearchString = ViewBag.dtiniFilter,
        dtfimSearchString = ViewBag.dtfimFilter,
        statusSearchString = ViewBag.StatusFilter,
        page
    }))


    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $('.dp').datepicker({
                    showAnim: "scale",
                    showOptions: {
                        origin: ["top", "right"]
                    }
                });
            });

            $(function () {
                $("#colaboradorkeySearchString").combobox();
                $("#toggle").click(function () {
                    $("#colaboradorkeySearchString").toggle();
                });
            });

        </script>
    }

