@model PagedList.IPagedList<SelfService>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Busca de Comissões Self Service";
    }

    <h1 class="headerForm">@ViewBag.Title</h1>

    @**************************************************************************************************************************@
    @*                                                 Filtros de Busca                                                       *@
    @**************************************************************************************************************************@
    @using (Html.BeginForm("SelfServiceIndex", "SelfService", FormMethod.Get))
    {
        <div class="editorCategoria">
            <p><label for="codigocargoalternateSearchString">Cargo</label>@Html.DropDownList("codigocargoalternateSearchString", "--- Selecione ---")</p>
            <p><label for="codigolojaalternateSearchString">Loja</label>@Html.DropDownList("codigolojaalternateSearchString", "--- Selecione ---")</p>
            <p><label for="dtiniSearchString">Data inicial da vigência</label>@Html.TextBox("dtiniSearchString", null, new { @class = "dp" })</p>
            <p><label for="dtfimSearchString">Data final da vigência</label>@Html.TextBox("dtfimSearchString", null, new { @class = "dp" })</p>
            <p>
                <label for="statusSearchString">Status</label>      @Html.RadioButton("statusSearchString", "A", true, ViewBag.StatusFilter as string)Ativo
                @Html.RadioButton("statusSearchString", "I", ViewBag.StatusFilter as string)Inativo
            </p>
        </div>
        <p>
            <input type="submit" id="buscaSelfService" value="Buscar" class="botoesCategoria" />
            @Html.ActionLink("Limpar", "SelfServiceIndex", "SelfService", null, new { @class = "botoesCategoria" })
            @Html.ActionLink("Novo", "SelfServiceCreate", "SelfService", null, new { @class = "botoesCategoria" })
        </p>

    }


    @**************************************************************************************************************************@
    @*                                          Cabeçalho e loop do resultado da busca                                        *@
    @**************************************************************************************************************************@
    <table class="dufry" width="80%">
        <tr>
            <th>
                @Html.ActionLink("Cargo", "SelfServiceIndex", "SelfService"
                , new
                {
                    sortOrder = ViewBag.CodigoCargoAlternateSortParam,
                    codigocargoalternateSearchString = ViewBag.codigocargoalternateFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Loja", "SelfServiceIndex", "SelfService"
                , new
                {
                    sortOrder = ViewBag.CodigoLojaAlternateSortParam,
                    codigocargoalternateSearchString = ViewBag.codigocargoalternateFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Inicial", "SelfServiceIndex", "SelfService"
                , new
                {
                    sortOrder = ViewBag.DtIniSortParam,
                    codigocargoalternateSearchString = ViewBag.codigocargoalternateFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Final", "SelfServiceIndex", "SelfService"
                , new
                {
                    sortOrder = ViewBag.DtFimSortParam,
                    codigocargoalternateSearchString = ViewBag.codigocargoalternateFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Status", "SelfServiceIndex", "SelfService"
                , new
                {
                    sortOrder = ViewBag.StatusSortParam,
                    codigocargoalternateSearchString = ViewBag.codigocargoalternateFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CODIGOCARGOALTERNATE, "SelfServiceEdit", "SelfService", new { id = item.ID_SELF_SERVICE }, new { @class = "tablerowlink" })
                </td>
                <td>
                    @Html.ActionLink(item.CODIGOLOJAALTERNATE, "SelfServiceEdit", "SelfService", new { id = item.ID_SELF_SERVICE }, new { @class = "tablerowlink" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_INI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_FIM)
                </td>
                @if (item.STATUS == "A")
                {
                    <td>Ativo</td>
                }
                else
                {
                    <td>Inativo</td>
                }
                <td>
                    @Html.ActionLink("Excluir", "SelfServiceDelete", "SelfService", new { id = item.ID_SELF_SERVICE }, new { @class = "tablerowlink" })
                </td>
            </tr>
        }
    </table>


    @**************************************************************************************************************************@
    @*                                                        Paginação                                                       *@
    @**************************************************************************************************************************@
    <br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

                                   @Html.PagedListPager(Model, page => Url.Action("SelfServiceIndex"
    , new
    {
        sortOrder = ViewBag.CurrentSort,
        codigocargoalternateSearchString = ViewBag.codigocargoalternateFilter,
        codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
        dtiniSearchString = ViewBag.dtiniFilter,
        dtfimSearchString = ViewBag.dtfimFilter,
        statusSearchString = ViewBag.StatusFilter,
        page
    }))


    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $('.dp').datepicker({
                    showAnim: "scale",
                    showOptions: {
                        origin: ["top", "right"]
                    }
                });
            });


            $(function () {
                $("#codigocargoalternateSearchString").combobox();
                $("#toggle").click(function () {
                    $("#codigocargoalternateSearchString").toggle();
                });
            });

            $(function () {
                $("#codigolojaalternateSearchString").combobox();
                $("#toggle").click(function () {
                    $("#codigolojaalternateSearchString").toggle();
                });
            });
        </script>
    }

