@model ComissoesViewModel

@{
    ViewBag.Title = "Cálculo de Comissões";
}

<h1 class="headerForm">@ViewBag.Title</h1>


@using (Html.BeginForm()) 
{
    @*@Html.AntiForgeryToken()*@

    <div class="editorCategoria">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>
            @Html.LabelFor(model => model.ControleAcesso.COLABORADORKEY)
            @Html.DropDownListFor(model => model.ControleAcesso.COLABORADORKEY, Model.ColaboradoresSelectListItem, "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
            @Html.ValidationMessageFor(model => model.ControleAcesso.COLABORADORKEY, String.Empty, new { @style = "padding-left: 40px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.Cargo.CodigoCargoAlternate)
            @Html.DropDownListFor(model => model.Cargo.CodigoCargoAlternate, Model.CargosSelectListItem, "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
            @Html.ValidationMessageFor(model => model.Cargo.CodigoCargoAlternate, String.Empty, new { @style = "padding-left: 40px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.Item.CodigoProdutoAlternate)
            @Html.DropDownListFor(model => model.Item.CodigoProdutoAlternate, Model.ItensSelectListItem, "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
            @Html.ValidationMessageFor(model => model.Item.CodigoProdutoAlternate, String.Empty, new { @style = "padding-left: 40px;!important" })
        </p>
        <p>
            @Html.Label("Subgrupo")
            @Html.DropDownList("NameOfField", new List<SelectListItem>(), "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
        </p>
        <p>
            @Html.Label("Grupo")
            @Html.DropDownList("NameOfField", new List<SelectListItem>(), "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
        </p>
        <p>
            @Html.Label("Segmento")
            @Html.DropDownList("NameOfField", new List<SelectListItem>(), "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.TipoBusiness.CodigoTipoBusinessAlternate)
            @Html.DropDownListFor(model => model.TipoBusiness.CodigoTipoBusinessAlternate, Model.TipoBusinesesSelectListItem, "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
            @Html.ValidationMessageFor(model => model.TipoBusiness.CodigoTipoBusinessAlternate, String.Empty, new { @style = "padding-left: 40px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.Loja.CodigoLojaAlternate)
            @Html.DropDownListFor(model => model.Loja.CodigoLojaAlternate, Model.LojasSelectListItem, "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
            @Html.ValidationMessageFor(model => model.Loja.CodigoLojaAlternate, String.Empty, new { @style = "padding-left: 40px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.Aeroporto.Id_Aeroporto)
            @Html.DropDownListFor(model => model.Aeroporto.Id_Aeroporto, Model.AeroportosSelectListItem, "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
            @Html.ValidationMessageFor(model => model.Aeroporto.Id_Aeroporto, String.Empty, new { @style = "padding-left: 40px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.DT_INI)
            @Html.TextBoxFor(model => model.DT_INI, null, new { @class = "dp", @Value = Model.DT_INI.ToString().Equals("01/01/0001 00:00:00") ? string.Empty : Model.DT_INI.ToString("dd/MM/yyyy") })
            @Html.ValidationMessageFor(model => model.DT_INI, String.Empty, new { @style = "padding-left: 10px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.DT_FIM)
            @Html.TextBoxFor(model => model.DT_FIM, null, new { @class = "dp", @Value = Model.DT_FIM.ToString().Equals("01/01/0001 00:00:00") ? string.Empty : Model.DT_FIM.ToString("dd/MM/yyyy") })
            @Html.ValidationMessageFor(model => model.DT_FIM, String.Empty, new { @style = "padding-left: 10px;!important" })
        </p>


    </div>

    <input type="submit" id="calculaComissoes" value="Gerar cálculo de Comissões" class="botoesCategoria" />
    @Html.ActionLink("Voltar", "ComissoesCalculo", "Comissoes", null, new { @class = "botoesCategoria" })

}


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.dp').datepicker({
                showAnim: "scale",
                showOptions: {
                    origin: ["top", "right"]
                }
            });
        });

        $(document).ready(function () {
            $('.dp').mask('00/00/0000', { 'translation': { 0: { pattern: /[0-9]/ } } });
            //$('.decimal').mask('000,0000', { reverse: true });

            $("input[name='DT_FIM']").rules("add", {
                DateGtEq: $("input[name='DT_INI']"),
                messages: { DateGtEq: "A data final da vigência deve ser maior que a data inicial" }
            });

        });

        //using combobox() function of jquery ui autocomplete hides the <select> tag generated by the DropDownListFor() 
        //method and renders its own html.
        //By default, hidden form controls are not validated by jquery.validate. This behaviour can be modified using the code above,
        //which will validate all hidden form controls, or to keep ignoring all hidden elements except your select
        $.validator.setDefaults({
            //validate all hidden form controls - ignore: [] 
            //ignore all hidden elements except those who are listed:
            ignore: ':hidden:not(#ControleAcesso_COLABORADORKEY, #Loja_CodigoLojaAlternate, #Item_CodigoProdutoAlternate, #TipoBusiness_CodigoTipoBusinessAlternate, #Cargo_CodigoCargoAlternate, #Aeroporto_Id_Aeroporto)'
        });

    </script>
}



