@model PlanoLojaViewModel

@{
    ViewBag.Title = "Exclusão de Planos de Comissões por Loja";
}

@{
    string confirmMessage = "Tem certeza que deseja excluir o plano de comissão " + Html.DisplayFor(model => model.PlanoLoja.Plano.DESC_PLANO) + " da loja " + Html.DisplayFor(model => model.Loja.NomeLoja) + " ?";
    bool exibeBotaoExcluir = true;
}



<h1 class="headerForm">@ViewBag.Title</h1>
<p class="errorMessage">@ViewBag.ErrorMessage</p>



<p class="confirmMessage">@confirmMessage</p>

<div>   

    <div>
        <p><label class="caption">@Html.DisplayNameFor(model => model.PlanoLoja.Plano.DESC_PLANO)</label><label>@Html.DisplayFor(model => model.PlanoLoja.Plano.DESC_PLANO)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.Loja.NomeLoja)</label><label>@Html.DisplayFor(model => model.Loja.NomeLoja)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.PlanoLoja.DT_INI)</label><label>@Html.DisplayFor(model => model.PlanoLoja.DT_INI)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.PlanoLoja.DT_FIM)</label><label>@Html.DisplayFor(model => model.PlanoLoja.DT_FIM)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.PlanoLoja.STATUS) </label>
                                    @if (Model.PlanoLoja.STATUS == "A"){ <label>Ativo</label>}else{<label>Inativo</label>}</p>
    </div>

    <p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            <input type="submit" value="Excluir" class="botoesCategoria" />                    
            
            @Html.ActionLink("Voltar", "CategoriaPercentualIndex", "CategoriaPercentual", new { @statusSearchString = "A" }, new { @class = "botoesCategoria" })
        }
    </p>
</div>
