@model PlanoLojaViewModel

@{
    ViewBag.Title = "Edição de Planos de Comissões por Loja";
}

<h1 class="headerForm">@ViewBag.Title</h1>


@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <div class="editorCategoria">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PlanoLoja.ID_PLANO_LOJA)

        <p>
            @Html.LabelFor(model => model.PlanoLoja.ID_PLANO)
            @Html.DropDownListFor(model => model.PlanoLoja.ID_PLANO, Model.PlanosSelectListItem, "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
            @Html.ValidationMessageFor(model => model.PlanoLoja.ID_PLANO, String.Empty, new { @style = "padding-left: 40px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.PlanoLoja.CODIGOLOJAALTERNATE)
            @Html.DropDownListFor(model => model.PlanoLoja.CODIGOLOJAALTERNATE, Model.LojasSelectListItem, "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
            @Html.ValidationMessageFor(model => model.PlanoLoja.CODIGOLOJAALTERNATE, String.Empty, new { @style = "padding-left: 40px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.PlanoLoja.DT_INI)
            @Html.TextBoxFor(model => model.PlanoLoja.DT_INI, null, new { @class = "dp", @Value = Model.PlanoLoja.DT_INI.ToString("dd/MM/yyyy") })
            @Html.ValidationMessageFor(model => model.PlanoLoja.DT_INI, String.Empty, new { @style = "padding-left: 10px;!important" })
        </p>
        <p>
            @Html.LabelFor(model => model.PlanoLoja.DT_FIM)
            @Html.TextBoxFor(model => model.PlanoLoja.DT_FIM, null, new { @class = "dp", @Value = Model.PlanoLoja.DT_FIM.ToString("dd/MM/yyyy") })
            @Html.ValidationMessageFor(model => model.PlanoLoja.DT_FIM, String.Empty, new { @style = "padding-left: 10px;!important" })
        </p>

        <p>
            @Html.LabelFor(model => model.PlanoLoja.STATUS)
            @Html.RadioButtonFor(model => model.PlanoLoja.STATUS, "A") Ativo
            @Html.RadioButtonFor(model => model.PlanoLoja.STATUS, "I") Inativo
            @Html.ValidationMessageFor(model => model.PlanoLoja.STATUS, String.Empty, new { @style = "padding-left: 127px;!important" })
        </p>
    </div>

    <input type="submit" id="salvaPlanoLoja" value="Salvar" class="botoesCategoria" />
    @Html.ActionLink("Voltar", "PlanoLojaIndex", "PlanoLoja", new { @statusSearchString = "A" }, new { @class = "botoesCategoria" })

}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.dp').datepicker({
                showAnim: "scale",
                showOptions: {
                    origin: ["top", "right"]
            }
            });
        });

        $(document).ready(function(){  
            $('.dp').mask('00/00/0000', { 'translation': { 0: { pattern: /[0-9]/ } } });
            //$('.decimal').mask('000,0000', { reverse: true });

            $("input[name='PlanoLoja.DT_FIM']").rules("add", {
                DateGtEq: $("input[name='PlanoLoja.DT_INI']"),
                messages: { DateGtEq: "A data final da vigência deve ser maior que a data inicial" }
            });
        });

        $.validator.setDefaults({
            //validate all hidden form controls - ignore: [] 
            //ignore all hidden elements except those who are listed:
            ignore: ':hidden:not(#PlanoLoja_ID_PLANO, #PlanoLoja_CODIGOLOJAALTERNATE)'
        });
    </script> 
}
