@model PagedList.IPagedList<CategoriaPercentual>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Busca de Categorias e Percentuais por Loja";
    }

    <h1 class="headerForm">@ViewBag.Title</h1>

    @**************************************************************************************************************************@
    @*                                                 Filtros de Busca                                                       *@
    @**************************************************************************************************************************@
    @using (Html.BeginForm("CategoriaPercentualIndex", "CategoriaPercentual", FormMethod.Get))
    {
        <div class="editorCategoria">
            <p><label for="idCategoriaSearchString">Categoria</label>@Html.DropDownList("idCategoriaSearchString", "--- Selecione ---")</p>
            <p><label for="atributoSearchString">Atributo</label>@Html.TextBox("atributoSearchString", ViewBag.atributoFilter as string, new { maxlength = "255" })</p>
            @*<p><label for="percentualSearchString">Percentual de Comissão</label>@Html.TextBox("percentualSearchString", ViewBag.percentualFilter as string, new { maxlength = "255" })</p>*@

            <p>
                <label for="statusSearchString">Status</label>      @Html.RadioButton("statusSearchString", "A", true, ViewBag.StatusFilter as string)Ativo
                @Html.RadioButton("statusSearchString", "I", ViewBag.StatusFilter as string)Inativo
            </p>
        </div>
        <p>
            <input type="submit" id="buscaCategoriaPercentual" value="Buscar" class="botoesCategoria" />
            @Html.ActionLink("Limpar", "CategoriaPercentualIndex", "CategoriaPercentual", null, new { @class = "botoesCategoria" })
            @Html.ActionLink("Novo", "CategoriaPercentualCreate", "CategoriaPercentual", null, new { @class = "botoesCategoria" })
        </p>

    }


    @**************************************************************************************************************************@
    @*                                          Cabeçalho e loop do resultado da busca                                        *@
    @**************************************************************************************************************************@
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Categoria", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.DescCategoriaSortParam,
                    atributoSearchString = ViewBag.atributoFilter,
                    //   percentualSearchString = ViewBag.percentualFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Atributo", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {   sortOrder = ViewBag.AtributoSortParam,
                    atributoSearchString = ViewBag.atributoFilter,
                    //percentualSearchString = ViewBag.percentualFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Percentual de Comissão", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.PercentualSortParam,
                    atributoSearchString = ViewBag.atributoFilter,
                 //   percentualSearchString = ViewBag.percentualFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Inicial", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.DtIniSortParam,
                    atributoSearchString = ViewBag.atributoFilter,
                    //   percentualSearchString = ViewBag.percentualFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Final", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.DtFimSortParam,
                    atributoSearchString = ViewBag.atributoFilter,
                    //   percentualSearchString = ViewBag.percentualFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Status", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {   sortOrder = ViewBag.StatusSortParam,
                    atributoSearchString = ViewBag.atributoFilter,
                  //  percentualSearchString = ViewBag.percentualFilter,                    
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.DESC_CATEGORIA)
                </td>
                <td>
                    @Html.ActionLink(item.ATRIBUTO, "CategoriaPercentualEdit", "CategoriaPercentual", new { id = item.ID_CATEGORIA_PERCENTUAL }, new { @class = "tablerowlink" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PERCENTUAL)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_INI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_FIM)
                </td>
                @if (item.STATUS == "A")
                {
                    <td>Ativo</td>
                }
                else
                {
                    <td>Inativo</td>
                }
                <td>
                    @Html.ActionLink("Excluir", "CategoriaPercentualDelete", "CategoriaPercentual", new { id = item.ID_CATEGORIA_PERCENTUAL }, new { @class = "tablerowlink" })
                </td>
            </tr>
        }
    </table>


    @**************************************************************************************************************************@
    @*                                                        Paginação                                                       *@
    @**************************************************************************************************************************@
    <br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("CategoriaPercentualIndex"
    , new
    {
        sortOrder = ViewBag.CurrentSort,
        atributoSearchString = ViewBag.atributoFilter,
        //percentualSearchString = ViewBag.percentualFilter,                            
        statusSearchString = ViewBag.StatusFilter,
        page
    }))
