@model PagedList.IPagedList<CategoriaPercentual>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Busca de Categorias e Percentuais por Loja";
    }

    <h1 class="headerForm">@ViewBag.Title</h1>

    @**************************************************************************************************************************@
    @*                                                 Filtros de Busca                                                       *@
    @**************************************************************************************************************************@
    @using (Html.BeginForm("CategoriaPercentualIndex", "CategoriaPercentual", FormMethod.Get))
    {
        <div class="editorCategoria">
            <p><label for="idCategoriaSearchString">Categoria</label>@Html.DropDownList("idCategoriaSearchString", "--- Selecione ---")</p>
            <p><label for="atributoSearchString">Atributo</label>@Html.TextBox("atributoSearchString", null, new { maxlength = "255" })</p>
            <p><label for="codigolojaalternateSearchString">Loja</label>@Html.DropDownList("codigolojaalternateSearchString", "--- Selecione ---")</p>
            <p><label for="percentualSearchString">Percentual de Comissão</label>@Html.TextBox("percentualSearchString", null, new { @class = "decimal" })</p>
            <p><label for="dtiniSearchString">Data inicial da vigência</label>@Html.TextBox("dtiniSearchString", null, new { @class = "dp" })</p>
            <p><label for="dtfimSearchString">Data final da vigência</label>@Html.TextBox("dtfimSearchString", null, new { @class = "dp" })</p>
            <p>
                <label for="statusSearchString">Status</label>      @Html.RadioButton("statusSearchString", "A", true, ViewBag.StatusFilter as string)Ativo
                @Html.RadioButton("statusSearchString", "I", ViewBag.StatusFilter as string)Inativo
            </p>
        </div>
        <p>
            <input type="submit" id="buscaCategoriaPercentual" value="Buscar" class="botoesCategoria" />
            @Html.ActionLink("Limpar", "CategoriaPercentualIndex", "CategoriaPercentual", null, new { @class = "botoesCategoria" })
            @Html.ActionLink("Novo", "CategoriaPercentualCreate", "CategoriaPercentual", null, new { @class = "botoesCategoria" })
        </p>

    }


    @**************************************************************************************************************************@
    @*                                          Cabeçalho e loop do resultado da busca                                        *@
    @**************************************************************************************************************************@
    <table class="dufry" width="80%">
        <tr>
            <th>
                @Html.ActionLink("Categoria", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.DescCategoriaSortParam,
                    idCategoriaSearchString = ViewBag.idCategoriaFilter,
                    atributoSearchString = ViewBag.atributoFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    percentualSearchString = ViewBag.percentualFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Atributo", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.AtributoSortParam,
                    idCategoriaSearchString = ViewBag.idCategoriaFilter,
                    atributoSearchString = ViewBag.atributoFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    percentualSearchString = ViewBag.percentualFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Loja", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.CodigoLojaAlternateSortParam,
                    idCategoriaSearchString = ViewBag.idCategoriaFilter,
                    atributoSearchString = ViewBag.atributoFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    percentualSearchString = ViewBag.percentualFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Percentual de Comissão", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.PercentualSortParam,
                    idCategoriaSearchString = ViewBag.idCategoriaFilter,
                    atributoSearchString = ViewBag.atributoFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    percentualSearchString = ViewBag.percentualFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Inicial", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.DtIniSortParam,
                    idCategoriaSearchString = ViewBag.idCategoriaFilter,
                    atributoSearchString = ViewBag.atributoFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    percentualSearchString = ViewBag.percentualFilter,
                    dtiniSearchString = ViewBag.dtiniFilter, 
                    dtfimSearchString = ViewBag.dtfimFilter, 
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Final", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.DtFimSortParam,
                    idCategoriaSearchString = ViewBag.idCategoriaFilter,
                    atributoSearchString = ViewBag.atributoFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    percentualSearchString = ViewBag.percentualFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Status", "CategoriaPercentualIndex", "CategoriaPercentual"
                , new
                {
                    sortOrder = ViewBag.StatusSortParam,
                    idCategoriaSearchString = ViewBag.idCategoriaFilter,
                    atributoSearchString = ViewBag.atributoFilter,
                    codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
                    percentualSearchString = ViewBag.percentualFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.DESC_CATEGORIA)
                </td>
                <td>
                    @Html.ActionLink(item.ATRIBUTO, "CategoriaPercentualEdit", "CategoriaPercentual", new { id = item.ID_CATEGORIA_PERCENTUAL }, new { @class = "tablerowlink" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGOLOJAALTERNATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PERCENTUAL)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_INI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_FIM)
                </td>
                @if (item.STATUS == "A")
                {
                    <td>Ativo</td>
                }
                else
                {
                    <td>Inativo</td>
                }
                <td>
                    @Html.ActionLink("Excluir", "CategoriaPercentualDelete", "CategoriaPercentual", new { id = item.ID_CATEGORIA_PERCENTUAL }, new { @class = "tablerowlink" })
                </td>
            </tr>
        }
    </table>


    @**************************************************************************************************************************@
    @*                                                        Paginação                                                       *@
    @**************************************************************************************************************************@
    <br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("CategoriaPercentualIndex"
    , new
    {
        sortOrder = ViewBag.CurrentSort,
        idCategoriaSearchString = ViewBag.idCategoriaFilter,
        atributoSearchString = ViewBag.atributoFilter,
        codigolojaalternateSearchString = ViewBag.codigolojaalternateFilter,
        percentualSearchString = ViewBag.percentualFilter,
        dtiniSearchString = ViewBag.dtiniFilter,
        dtfimSearchString = ViewBag.dtfimFilter,
        statusSearchString = ViewBag.StatusFilter,
        page
    }))


    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $('.dp').datepicker({
                    showAnim: "scale",
                    showOptions: {
                        origin: ["top", "right"]
                    }
                });
            });

            $(document).ready(function () {
                $('.dp').mask('00/00/0000', { 'translation': { 0: { pattern: /[0-9]/ } } });
                //$('.decimal').mask('000,0000', { reverse: true });

            });
        </script>
    }

