@model PlanoViewModel

@{
    ViewBag.Title = "Exclusão de Planos de Comissões";
}

@{
    string confirmMessageOK = "Tem certeza que deseja excluir o plano de comissão " + Html.DisplayFor(model => model.Plano.DESC_PLANO) + " ?";
    bool exibeBotaoExcluir = true;
    
    List<String> confirmMessageErrorList = new List<String>();

    if (Model.Plano.PlanoCategorias.Count() > 0)
    {
        confirmMessageErrorList.Add("O plano de comissão " + Html.DisplayFor(model => model.Plano.DESC_PLANO) + " não pode ser excluído, por haver Plano de Categoria associado. Exclua todos os respectivos planos de categoria primeiro.");
        exibeBotaoExcluir = false;

    }

    if (Model.Plano.DolarMedios.Count() > 0)
    {
        confirmMessageErrorList.Add("O plano de comissão " + Html.DisplayFor(model => model.Plano.DESC_PLANO) + " não pode ser excluído, por haver Taxa de Dólar associada. Exclua todas as taxas de dólar primeiro.");
        exibeBotaoExcluir = false;
    }    
    
}

<h1 class="headerForm">@ViewBag.Title</h1>
<p class="errorMessage">@ViewBag.ErrorMessage</p>

@{
    if (exibeBotaoExcluir)
    {
        <p class="confirmMessage">@confirmMessageOK</p>
    }
    else
    {
        foreach (string item in confirmMessageErrorList)
        {
            <p class="confirmMessage">@item</p>
        }        
    }
}



<div>   

    <div>
        <p><label class="caption">@Html.DisplayNameFor(model => model.Plano.DESC_PLANO)</label><label>@Html.DisplayFor(model => model.Plano.DESC_PLANO)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.Plano.DT_INI)</label><label>@Html.DisplayFor(model => model.Plano.DT_INI)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.Plano.DT_FIM)</label><label>@Html.DisplayFor(model => model.Plano.DT_FIM)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.Plano.STATUS) </label>
                                    @if (Model.Plano.STATUS == "A")
                                    { <label>Ativo</label>}else{<label>Inativo</label>}</p>
    </div>

    <p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            if (exibeBotaoExcluir)
            {
                <input type="submit" value="Excluir" class="botoesCategoria" />                    
            }
            
            @Html.ActionLink("Voltar", "PlanoIndex", "Plano", new { @statusSearchString = "A" }, new { @class = "botoesCategoria" })
        }
    </p>
</div>
