<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/site")
</head>
<body>
    <div id="header">
        <h1>
            @{
                string action = "~/Home/Index/";    
                @Html.Raw(string.Format("<a href=\"{0}\"><img src=/content/Images/dufry_logo.jpg></a>", Url.Content(action)))
            }
        </h1>
    </div>

    @{Html.RenderAction("SideMenu", "Menu");}

    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        Dufry 2015
    </div>

    @Scripts.Render("~/scripts/jquery")
</body>
</html>