@model ControleAcesso
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/site")
</head>
<body>
    @{
        string currentUser = "usuário sem permissão de acesso";
        string admin = "N";
        
        if (Model != null)
        {
            currentUser = Model.LOGIN;
            admin = Model.ADMIN;
        }
    }

    <div id="header">
        <h1>
            @{
                string action = "~/Home/Index/";    
                
                @Html.Raw(string.Format("<a href=\"{0}\">Dufry</a>", Url.Content(action)))
            }
        </h1>
        <ul id="navlist">
            @{
                @Html.Raw(string.Format("<li class=\"first\">{0}</li>", currentUser))
            }
        </ul>
    </div>

    <ul id="sidemenu">
    @{
        if (admin == "S")
        {
            <li>@Html.Raw(string.Format("<a href=\"{0}\">Categorias</a>", Url.Content("~/Categoria/CategoriaBusca/")))</li>
            <li>Categorias e percentuais por loja</li>
            <li>Planos de comissões e hierarquias</li>
            <li>Comissões “Self Service”</li>
            <li>Ausência Remunerada</li>
            <li>DSR</li>
            <li>Taxa de dólar</li>
            <li>Controle de Acesso</li>
        }
    }
        <li>Comissões</li>                
    </ul>

    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        Dufry 2015
    </div>

    @Scripts.Render("~/scripts/jquery")
</body>
</html>