@model DolarMedioViewModel

@{
    ViewBag.Title = "Exclusão de Taxa de Dólar";
}

@{
    string confirmMessage = "Tem certeza que deseja excluir essa taxa ?";
    bool exibeBotaoExcluir = true;
}



<h1 class="headerForm">@ViewBag.Title</h1>
<p class="errorMessage">@ViewBag.ErrorMessage</p>



<p class="confirmMessage">@confirmMessage</p>

<div>   

    <div>
        <p><label class="caption">@Html.DisplayNameFor(model => model.DolarMedio.Plano.DESC_PLANO)</label><label>@Html.DisplayFor(model => model.DolarMedio.Plano.DESC_PLANO)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.DolarMedio.VALOR_DOLAR_MEDIO)</label><label>@Html.DisplayFor(model => model.DolarMedio.VALOR_DOLAR_MEDIO)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.DolarMedio.DT_INI)</label><label>@Html.DisplayFor(model => model.DolarMedio.DT_INI)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.DolarMedio.DT_FIM)</label><label>@Html.DisplayFor(model => model.DolarMedio.DT_FIM)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.DolarMedio.TIPO_TAXA) </label>
                                    @if (Model.DolarMedio.TIPO_TAXA == "M") { <label>Média</label>} else {<label>Diária</label>}</p>
    </div>

    <p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            if (exibeBotaoExcluir)
            {
                <input type="submit" value="Excluir" class="botoesCategoria" />                    
            }
            
            @Html.ActionLink("Voltar", "DolarMedioIndex", "DolarMedio", new { @statusSearchString = "A" }, new { @class = "botoesCategoria" })
        }
    </p>
</div>
