@model PagedList.IPagedList<DolarMedio>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Busca de Taxa de Dólar";
    }

    <h1 class="headerForm">@ViewBag.Title</h1>

    @**************************************************************************************************************************@
    @*                                                 Filtros de Busca                                                       *@
    @**************************************************************************************************************************@
    @using (Html.BeginForm("DolarMedioIndex", "DolarMedio", FormMethod.Get))
    {
        <div class="editorCategoria">
            <p><label for="idPlanoSearchString">Plano</label>@Html.DropDownList("idPlanoSearchString", "--- Selecione ---")</p>
            <p>
                <label for="tipoTaxaSearchString">Tipo de taxa</label>      @Html.RadioButton("tipoTaxaSearchString", "M", true, ViewBag.tipoTaxaFilter as string)Média
                @Html.RadioButton("tipoTaxaSearchString", "D", ViewBag.tipoTaxaFilter as string)Diária
            </p>
            <p><label for="valorDolarMedioSearchString">Dólar - Valor Médio (em R$)</label>@Html.TextBox("valorDolarMedioSearchString", null, new { @class = "decimal" })</p>
            <p><label for="dtiniSearchString">Data inicial da vigência</label>@Html.TextBox("dtiniSearchString", null, new { @class = "dp" })</p>
            <p><label for="dtfimSearchString">Data final da vigência</label>@Html.TextBox("dtfimSearchString", null, new { @class = "dp" })</p>

        </div>
        <p>
            <input type="submit" id="buscaDolarMedio" value="Buscar" class="botoesCategoria" />
            @Html.ActionLink("Limpar", "DolarMedioIndex", "DolarMedio", null, new { @class = "botoesCategoria" })
            @Html.ActionLink("Novo", "DolarMedioCreate", "DolarMedio", null, new { @class = "botoesCategoria" })
        </p>

    }


    @**************************************************************************************************************************@
    @*                                          Cabeçalho e loop do resultado da busca                                        *@
    @**************************************************************************************************************************@
    <table class="dufry" width="80%">
        <tr>
            <th>
                @Html.ActionLink("Plano", "DolarMedioIndex", "DolarMedio"
                , new
                {
                    sortOrder = ViewBag.DescPlanoSortParam,
                    idPlanoSearchString = ViewBag.idPlanoFilter,
                    tipoTaxaSearchString = ViewBag.tipoTaxaFilter,
                    valorDolarMedioSearchString = ViewBag.valorDolarMedioFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Tipo de taxa", "DolarMedioIndex", "DolarMedio"
                , new
                {
                    sortOrder = ViewBag.TipoTaxaSortParam,
                    idPlanoSearchString = ViewBag.idPlanoFilter,
                    tipoTaxaSearchString = ViewBag.tipoTaxaFilter,
                    valorDolarMedioSearchString = ViewBag.valorDolarMedioFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Valor", "DolarMedioIndex", "DolarMedio"
                , new
                {
                    sortOrder = ViewBag.ValorSortParam,
                    idPlanoSearchString = ViewBag.idPlanoFilter,
                    tipoTaxaSearchString = ViewBag.tipoTaxaFilter,
                    valorDolarMedioSearchString = ViewBag.valorDolarMedioFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Inicial", "DolarMedioIndex", "DolarMedio"
                , new
                {
                    sortOrder = ViewBag.DtIniSortParam,
                    idPlanoSearchString = ViewBag.idPlanoFilter,
                    tipoTaxaSearchString = ViewBag.tipoTaxaFilter,
                    valorDolarMedioSearchString = ViewBag.valorDolarMedioFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Data Final", "DolarMedioIndex", "DolarMedio"
                , new
                {
                    sortOrder = ViewBag.DtFimSortParam,
                    idPlanoSearchString = ViewBag.idPlanoFilter,
                    tipoTaxaSearchString = ViewBag.tipoTaxaFilter,
                    valorDolarMedioSearchString = ViewBag.valorDolarMedioFilter,
                    dtiniSearchString = ViewBag.dtiniFilter,
                    dtfimSearchString = ViewBag.dtfimFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Plano.DESC_PLANO)
                </td>
                @if (item.TIPO_TAXA == "M")
                {
                    <td>Média</td>
                }
                else
                {
                    <td>Diária</td>
                }
                <td>
                    @Html.ActionLink(item.VALOR_DOLAR_MEDIO.ToString(), "DolarMedioEdit", "DolarMedio", new { id = item.ID_DOLAR_MEDIO }, new { @class = "tablerowlink" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_INI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DT_FIM)
                </td>
                <td>
                    @Html.ActionLink("Excluir", "DolarMedioDelete", "DolarMedio", new { id = item.ID_DOLAR_MEDIO }, new { @class = "tablerowlink" })
                </td>
            </tr>
        }
    </table>


    @**************************************************************************************************************************@
    @*                                                        Paginação                                                       *@
    @**************************************************************************************************************************@
    <br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("DolarMedioIndex"
    , new
    {
        sortOrder = ViewBag.CurrentSort,
        idPlanoSearchString = ViewBag.idPlanoFilter,
        tipoTaxaSearchString = ViewBag.tipoTaxaFilter,
        valorDolarMedioSearchString = ViewBag.valorDolarMedioFilter,
        dtiniSearchString = ViewBag.dtiniFilter,
        dtfimSearchString = ViewBag.dtfimFilter,        
        page
    }))


    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $('.dp').datepicker({
                    showAnim: "scale",
                    showOptions: {
                        origin: ["top", "right"]
                    }
                });
            });

            $(document).ready(function () {
                $('.dp').mask('00/00/0000', { 'translation': { 0: { pattern: /[0-9]/ } } });
                //$('.decimal').mask('000,0000', { reverse: true });

            });

            $(function () {
                $("#idPlanoSearchString").combobox();
                $("#toggle").click(function () {
                    $("#idPlanoSearchString").toggle();
                });
            });
        </script>
    }

