@model PlanoCategoriaViewModel

@{
    ViewBag.Title = "Edição de Planos de Comissões e Hierarquias";
}

<style>

    .divContainerCategorias {
        border-radius: 5px;
        width: 20%;
        display: inline-block;
        margin-left: 85px;
        box-shadow: 0 0 5px #c2101c;
        background: #fff;
    }

    .divCategorias {
        height: 201px;
        overflow-x: hidden;
    }

    .ui-state-default_dufry {
        border: 1px solid #808080;
        background: #5997d8;
        border-radius: 5px;
        color: #ffffff;
    }

    #divCategoriasSelecionadas {
        margin-top: 0px;
        margin-left: 0px;
    }

    .header {
        padding: 5px;
        background: #c2101c;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
        height: 20px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom: 1px;
        color: #ffffff;
        font-size: 13px;
        text-align: center;
    }

    #sortable1, #sortable3 {
        list-style-type: none;
        float: left;
        background: #ffffff;
        padding: 5px;
        height: 187px;
        width: 212px;
    }

    #sortable1 {
        margin: 0;
    }

    #sortable3 {
        margin-left: 0px;
    }

    #sortable1 li, #sortable3 li {
        margin: 5px;
        padding: 5px;
        font-size: 12px;
        /*width: 190px;*/
        width: 180px;
        border-color:darkgray;
    }

    .divPlanoLabel {
        margin-top: 25px;
        margin-left: 83px;
    }

    .divCategoriasSelecioneLabel {
        margin-top: 24px;
        margin-left: 85px;
    }

    .divCategoriasSelecionadasErrorMsg {
        margin-top: 10px;
        margin-left: 410px;
    }
   
    #CategoriasSelecionadasErrorMsg {
        color: red;
    }

</style>

<h1 class="headerForm">@ViewBag.Title</h1>

@using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frmPlanoCategoria", id = "frmPlanoCategoria" })) 
{
    @*@Html.AntiForgeryToken()*@

    <div class="editorCategoria">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Plano.ID_PLANO)

        <div class="divPlanoLabel">
            <b>@Html.DisplayNameFor(model => model.Plano.DESC_PLANO)</b>&nbsp;
            @Html.DisplayFor(model => model.Plano.DESC_PLANO)
        </div>

        <div class="divCategoriasSelecioneLabel">
            <p>Selecione e ordene as Categorias de forma hierárquica</p>
        </div>

        <div class="divContainerCategorias">
            <div class="header" id="header1">
                Categorias disponíveis
            </div>
            <div class="divCategorias" id="divCategoriasDisponiveis">
                <ul id="sortable1" class="droptrue">
                    @foreach (var item in Model.CategoriasDisponiveisList)
                    {
                        <li class="ui-state-default_dufry">
                            @Html.DisplayFor(modelItem => item.DESC_CATEGORIA)
                            @Html.Hidden("hdnId-" + item.ID_CATEGORIA, item.ID_CATEGORIA, new { @class = "ItemId" })
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class ="divContainerCategorias">
            <div class="header" id="header2">
                Categorias selecionadas
            </div>
            <div class="divCategorias" id="divCategoriasSelecionadas">
                <div id="CategoriasSelecionadas">
                    <ul id="sortable3" class="droptrue">
                        @foreach (var item in Model.CategoriasSelecionadasList)
                        {
                            <li class="ui-state-default_dufry">
                                @Html.DisplayFor(modelItem => item.DESC_CATEGORIA)
                                @Html.Hidden("hdnId-" + item.ID_CATEGORIA, item.ID_CATEGORIA, new { @class = "ItemId" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="divCategoriasSelecionadasErrorMsg">
            <p><span id="CategoriasSelecionadasErrorMsg"></span>&nbsp;</p>
        </div>

        <div id="BotoesFormulario">
            <input type="button" id="salvaPlanoCategoria" value="Salvar" class="botoesCategoria" />
            @Html.ActionLink("Voltar", "PlanoEdit", "Plano", new { @id = Model.Plano.ID_PLANO }, new { @class = "botoesCategoria" })
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.dp').datepicker({
                showAnim: "scale",
                showOptions: {
                    origin: ["top", "right"]
                }
            });
        });

        $(document).ready(function () {

            $("ul.droptrue").sortable({
                connectWith: "ul"
            });

            $("#sortable1, #sortable3").disableSelection();

            $("#salvaPlanoCategoria").click(salvaCategoriasOrdenadas);

        });

        function salvaCategoriasOrdenadas() {

            var idPlano = $("#Plano_ID_PLANO").val();
            var planoCategoriaOrdenado = new Array();


            $("#sortable3 li").each(function (index) {
                var planoCategoria = new Object();
                planoCategoria.ID_PLANO = $("#Plano_ID_PLANO").val();
                planoCategoria.ID_CATEGORIA = $(this).find($(".ItemId")).val();
                planoCategoria.ORDEM_HIERARQUIA = index + 1;
                planoCategoriaOrdenado.push(planoCategoria);
            });


            var form = $("#frmPlanoCategoria");

            //------------------------------------------------------------------------------------------------------
            //<REVER>
            //------------------------------------------------------------------------------------------------------
            if ($("#sortable3 li").length == 0) {
                $("#CategoriasSelecionadasErrorMsg").html("Selecione ao menos uma Categoria").show();
            }
            else
            {
                $("#CategoriasSelecionadasErrorMsg").html("").show();
            }

            form.validate();
            //------------------------------------------------------------------------------------------------------

            if (form.valid() && ($("#sortable3 li").length > 0)) {  //<REVER>
                $.ajax({
                    type: 'POST',
                    url: '/PlanoCategoria/PlanoCategoriaEdit',
                    data: JSON.stringify({idPlano: idPlano, planoCategoriaOrdenado: planoCategoriaOrdenado }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        window.location.replace("PlanoCategoriaIndex");
                    }
                });
            }
        }

    </script>
}



