@model PlanoCategoriaViewModel

@{
    ViewBag.Title = "Inclusão de Planos de Comissões e Hierarquias";
}

<style>
    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 35%;
    }

        #sortable li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            /*font-size: 1.4em;*/
            /*height: 18px;*/
        }

            #sortable li span {
                position: absolute;
                margin-left: -1.3em;
            }
</style>

<h1 class="headerForm">@ViewBag.Title</h1>


@using (Html.BeginForm()) 
{
    @*@Html.AntiForgeryToken()*@

    <div class="editorCategoria">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>
            @Html.LabelFor(model => model.ID_PLANO)
            @Html.DropDownListFor(model => model.ID_PLANO, Model.PlanosSelectListItem, "--- Selecione ---", new { @class = "autocomplete-combobox", @style = "padding-left: 7px;!important" })
            @Html.ValidationMessageFor(model => model.ID_PLANO, String.Empty, new { @style = "padding-left: 40px;!important" })
        </p>


        @**************************************************************************************************************************@
        @*                                          Cabeçalho e loop do resultado da busca                                        *@
        @**************************************************************************************************************************@

        <div id="CategoriasDisponiveis" style="margin-left:80px">
            <ul id="sortable">
                @foreach (var item in Model.CategoriasDisponiveisList)
                {
                    <li class="ui-state-default">
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>@Html.DisplayFor(modelItem => item.DESC_CATEGORIA)
                        @Html.Hidden("hdnId-" + item.ID_CATEGORIA, item.ID_CATEGORIA, new { @class = "ItemId" })
                    </li>
                }
            </ul>
        </div>

    </div>

    @*<input type="submit" id="salvaPlanoCategoria" value="Salvar e incluir" class="botoesCategoria" />*@
    <input type="button" id="salvaPlanoCategoria" value="Salvar e incluir" class="botoesCategoria" />
    @Html.ActionLink("Voltar", "PlanoCategoriaIndex", "PlanoCategoria", new { @statusSearchString = "A" }, new { @class = "botoesCategoria" })

    }


    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $('.dp').datepicker({
                    showAnim: "scale",
                    showOptions: {
                        origin: ["top", "right"]
                    }
                });
            });

            $(document).ready(function () {

                    $("#sortable").sortable();
                    $("#sortable").disableSelection();
                    $("#salvaPlanoCategoria").click(salvaCategoriasOrdenadas);

            });

            function salvaCategoriasOrdenadas() {

                //alert('salvaCategoriasOrdenadas');

                var planoCategoriaOrdenado = new Array();

                $("#sortable li").each(function (index) {

                    var planoCategoria = new Object();
                    planoCategoria.ID_PLANO = $("#ID_PLANO").val();
                    planoCategoria.ID_CATEGORIA = $(this).find($(".ItemId")).val();
                    planoCategoria.ORDEM_HIERARQUIA = index + 1;
                    planoCategoriaOrdenado.push(planoCategoria);
                });

                $.ajax({
                    type: 'POST',
                    url: '/PlanoCategoria/PlanoCategoriaCreate',
                    data: JSON.stringify(planoCategoriaOrdenado),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        window.location.replace("PlanoCategoriaIndex");
                    }
                });


                //var userViewPreferenceDetails = new Array();
                //$("#sortable li").each(function (index) {
                //    var userPreferenceItem = new Object();
                //    userPreferenceItem.Id = $(this).find($(".ItemId")).val();
                //    userPreferenceItem.IsEnabled = $(this).find($(".EnabledFlag")).attr("checked") == "checked" ? true : false;
                //    userPreferenceItem.ColumnOrder = index;
                //    userPreferenceDetails.push(userPreferenceItem);
                //});
                //$.ajax({
                //    type: 'POST',
                //    url: '/YourActionName/SaveUserViewPreferenceDetails',
                //    data: JSON.stringify(userPreferenceDetails),
                //    dataType: 'json',
                //    contentType: 'application/json; charset=utf-8',
                //    success: function () {
                //        window.location.replace("http://whereyouwantogoafter.com");
                //    }
                //});
            }



            //using combobox() function of jquery ui autocomplete hides the <select> tag generated by the DropDownListFor()
            //method and renders its own html.
            //By default, hidden form controls are not validated by jquery.validate. This behaviour can be modified using the code above,
            //which will validate all hidden form controls, or to keep ignoring all hidden elements except your select
            $.validator.setDefaults({
                //validate all hidden form controls - ignore: []
                //ignore all hidden elements except those who are listed:
                ignore: ':hidden:not(#ID_PLANO)'
            });

        </script>
    }



