@model ControleAcesso

@{
    string admin = "N";
    string status = "I";
    
    if (Model != null)
    {
        if (Model.STATUS == "A")
        {
            admin = Model.ADMIN;    
        }

        status = Model.STATUS;
        
    }
}
<ul id="sidemenu">
@{
    if (status == "A")
    {
        if (admin == "S")
        {
            <li>@Html.Raw(string.Format("<a href=\"{0}\">Categorias</a>", Url.Content("~/Categoria/CategoriaIndex?statusSearchString=A")))</li>
            <li>@Html.Raw(string.Format("<a href=\"{0}\">Categorias e percentuais por loja</a>", Url.Content("~/CategoriaPercentual/CategoriaPercentualIndex?statusSearchString=A")))</li>
            <li>@Html.Raw(string.Format("<a href=\"{0}\">Planos de comissões</a>", Url.Content("~/Plano/PlanoIndex?statusSearchString=A")))</li>
            <li>@Html.Raw(string.Format("<a href=\"{0}\">Planos de Comissões por Loja</a>", Url.Content("~/PlanoLoja/PlanoLojaIndex?statusSearchString=A")))</li>
            @*<li>@Html.Raw(string.Format("<a href=\"{0}\">Planos de comissões e hierarquias</a>", Url.Content("~/PlanoCategoria/PlanoCategoriaIndex")))</li>*@
            <li>@Html.Raw(string.Format("<a href=\"{0}\">Comissões Self Service</a>", Url.Content("~/SelfService/SelfServiceIndex?statusSearchString=A")))</li>
            <li>Ausência Remunerada</li>
            <li>@Html.Raw(string.Format("<a href=\"{0}\">DSR</a>", Url.Content("~/DSR/DsrIndex?statusSearchString=A")))</li>
            <li>@Html.Raw(string.Format("<a href=\"{0}\">Taxa de dólar</a>", Url.Content("~/DolarMedio/DolarMedioIndex")))</li>
            <li>Controle de Acesso</li>
        }
        <li>Comissões</li>        
    }
}
</ul>
    






