@model ControleAcesso
 
@{
    ViewBag.Title = "Lista de Logins";
}
 
<div class="controleacesso">
    @*<h3><em>@Model.Name</em> Logins</h3>*@

    @*<ul id="album-list">
        @foreach (var album in Model.Albums)
        {
            <li>
                <a href="@Url.Action("Details", new { id = album.AlbumId })">
                    <img alt="@album.Title" src="@album.AlbumArtUrl" />
                    <span>@album.Title</span>
                </a>
            </li>
        }
    </ul>*@
</div>
