@model CategoriaViewModel

@{
    ViewBag.Title = "Inclusão de Categorias";
}

<h1 class="headerForm">@ViewBag.Title</h1>


@using (Html.BeginForm()) 
{
    @*@Html.AntiForgeryToken()*@

    <div class="editorCategoria">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <p>
            @Html.LabelFor(model => model.DESC_CATEGORIA):
        @Html.EditorFor(model => model.DESC_CATEGORIA)
        @Html.ValidationMessageFor(model => model.DESC_CATEGORIA)
    </p>
    <p>
        @Html.LabelFor(model => model.TAB_ORIGEM):
    @Html.EditorFor(model => model.TAB_ORIGEM)
    @Html.ValidationMessageFor(model => model.TAB_ORIGEM)
    </p>
    <p>
        @Html.LabelFor(model => model.COL_ORIGEM):
    @Html.EditorFor(model => model.COL_ORIGEM)
    @Html.ValidationMessageFor(model => model.COL_ORIGEM)
    </p>
    <p>
        @Html.LabelFor(model => model.STATUS):
    @Html.RadioButtonFor(model => model.STATUS, "A") Ativo
    @Html.RadioButtonFor(model => model.STATUS, "I") Inativo
        @Html.ValidationMessageFor(model => model.STATUS)
    </p>


            <input type="submit" id="salvaCategoria" value="Salvar e incluir" class="botoesCategoria" />
            @Html.ActionLink("Voltar", "CategoriaIndex", "Categoria", null, new { @class = "botoesCategoria" })

    </div>
}


@section Scripts {
    @Scripts.Render("~/scripts/jquery-validate")
}


