@model CategoriaViewModel

@{
    ViewBag.Title = "Exclusão de Categorias";
}

@{
    string confirmMessage = "Tem certeza que deseja excluir essa categoria?";
    bool exibeBotaoExcluir = true;
    
    if (Model.CategoriaPercentuals.Count() > 0)
    {
        confirmMessage = "A Categoria não pode ser excluída, por haver Percentual associado. Exclua todos os Pespectivos percentuais primeiro.";
        exibeBotaoExcluir = false;
    }    
}



<h1 class="headerForm">@ViewBag.Title</h1>
<p class="errorMessage">@ViewBag.ErrorMessage</p>



<p class="confirmMessage">@confirmMessage</p>

<div>   

    <div>
        <p><label class="caption">@Html.DisplayNameFor(model => model.DESC_CATEGORIA):</label><label>@Html.DisplayFor(model => model.DESC_CATEGORIA)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.TAB_ORIGEM): </label><label>@Html.DisplayFor(model => model.TAB_ORIGEM)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.COL_ORIGEM): </label><label>@Html.DisplayFor(model => model.COL_ORIGEM)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.STATUS): </label><label>@Html.DisplayFor(model => model.STATUS)</label></p>
    </div>

    <p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            if (exibeBotaoExcluir)
            {
                <input type="submit" value="Excluir" class="botoesCategoria" />                    
            }
            
            @Html.ActionLink("Voltar", "CategoriaIndex", "Categoria", new { @statusSearchString = "A" }, new { @class = "botoesCategoria" })
        }
    </p>
</div>
