@model PagedList.IPagedList<CadastroAcessoSearch>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Busca de Usuários da Aplicação de Comissões";
    }

    <h1 class="headerForm">@ViewBag.Title</h1>

    @**************************************************************************************************************************@
    @*                                                 Filtros de Busca                                                       *@
    @**************************************************************************************************************************@
    @using (Html.BeginForm("CadastroAcessoIndex", "CadastroAcesso", FormMethod.Get))
    {
        <div class="editorCategoria">
            <p><label for="colaboradorkey_paiSearchString">Superior</label>@Html.DropDownList("colaboradorkey_paiSearchString", "--- Selecione ---")</p>
            <p><label for="colaboradorkeySearchString">Colaborador</label>@Html.DropDownList("colaboradorkeySearchString", "--- Selecione ---")</p>
            <p><label for="loginSearchString">Login</label>@Html.TextBox("loginSearchString", null, new { maxlength = "255" })</p>
            <p>
                <label for="adminSearchString">Administrador do sistema</label>      @Html.RadioButton("adminSearchString", "S", true, ViewBag.AdminFilter as string)Sim
                @Html.RadioButton("adminSearchString", "N", ViewBag.AdminFilter as string)Não
            </p>
            <p>
                <label for="statusSearchString">Status</label>      @Html.RadioButton("statusSearchString", "A", true, ViewBag.StatusFilter as string)Ativo
                @Html.RadioButton("statusSearchString", "I", ViewBag.StatusFilter as string)Inativo
            </p>
        </div>
        <p>
            <input type="submit" id="buscaCadastroAcesso" value="Buscar" class="botoesCategoria" />
            @Html.ActionLink("Limpar", "CadastroAcessoIndex", "CadastroAcesso", null, new { @class = "botoesCategoria" })
            @Html.ActionLink("Novo", "CadastroAcessoCreate", "CadastroAcesso", null, new { @class = "botoesCategoria" })
        </p>

    }


    @**************************************************************************************************************************@
    @*                                          Cabeçalho e loop do resultado da busca                                        *@
    @**************************************************************************************************************************@
    <table class="dufry" width="80%">
        <tr>
            <th>
                @Html.ActionLink("Superior", "CadastroAcessoIndex", "CadastroAcesso"
                , new
                {
                    sortOrder = ViewBag.SuperiorSortParam,
                    colaboradorkey_paiSearchString = ViewBag.colaboradorkey_paiFilter,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    loginSearchString = ViewBag.loginFilter,
                    adminSearchString = ViewBag.AdminFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Colaborador", "CadastroAcessoIndex", "CadastroAcesso"
                , new
                {
                    sortOrder = ViewBag.ColaboradorSortParam,
                    colaboradorkey_paiSearchString = ViewBag.colaboradorkey_paiFilter,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    loginSearchString = ViewBag.loginFilter,
                    adminSearchString = ViewBag.AdminFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>

            <th>
                @Html.ActionLink("Login", "CadastroAcessoIndex", "CadastroAcesso"
                , new
                {
                    sortOrder = ViewBag.LoginSortParam,
                    colaboradorkey_paiSearchString = ViewBag.colaboradorkey_paiFilter,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    loginSearchString = ViewBag.loginFilter,
                    adminSearchString = ViewBag.AdminFilter, 
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })
            </th>
            <th>
                @Html.ActionLink("Administrador", "CadastroAcessoIndex", "CadastroAcesso"
                , new
                {
                    sortOrder = ViewBag.AdminSortParam,
                    colaboradorkey_paiSearchString = ViewBag.colaboradorkey_paiFilter,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    loginSearchString = ViewBag.loginFilter,
                    adminSearchString = ViewBag.AdminFilter,
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })

            </th>
            <th>
                @Html.ActionLink("Status", "CadastroAcessoIndex", "CadastroAcesso"
                , new
                {
                    sortOrder = ViewBag.StatusSortParam,
                    colaboradorkey_paiSearchString = ViewBag.colaboradorkey_paiFilter,
                    colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
                    loginSearchString = ViewBag.loginFilter,
                    adminSearchString = ViewBag.AdminFilter, 
                    statusSearchString = ViewBag.StatusFilter
                }
                , new { @class = "tableheadlink" })

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeSuperiorCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.ActionLink(item.LOGIN, "CadastroAcessoEdit", "CadastroAcesso", new { id = item.COLABORADORKEY }, new { @class = "tablerowlink" })
                </td>
                @if (item.ADMIN == "S")
                {
                    <td>Sim</td>
                }
                else
                {
                    <td>Não</td>
                }
                @if (item.STATUS == "A")
                {
                    <td>Ativo</td>
                }
                else
                {
                    <td>Inativo</td>
                }
                <td>
                    @Html.ActionLink("Excluir", "CadastroAcessoDelete", "CadastroAcesso", new { id = item.COLABORADORKEY }, new { @class = "tablerowlink" })
                </td>
            </tr>
        }
    </table>


    @**************************************************************************************************************************@
    @*                                                        Paginação                                                       *@
    @**************************************************************************************************************************@
    <br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("CadastroAcessoIndex"
    , new
    {
        sortOrder = ViewBag.CurrentSort,
        colaboradorkey_paiSearchString = ViewBag.colaboradorkey_paiFilter,
        colaboradorkeySearchString = ViewBag.colaboradorkeyFilter,
        loginSearchString = ViewBag.loginFilter,
        adminSearchString = ViewBag.AdminFilter, 
        statusSearchString = ViewBag.StatusFilter,
        page
    }))


    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $('.dp').datepicker({
                    showAnim: "scale",
                    showOptions: {
                        origin: ["top", "right"]
                    }
                });
            });

            $(function () {
                $("#colaboradorkey_paiSearchString").combobox();
                $("#toggle").click(function () {
                    $("#colaboradorkey_paiSearchString").toggle();
                });
            });

            $(function () {
                $("#colaboradorkeySearchString").combobox();
                $("#toggle").click(function () {
                    $("#colaboradorkeySearchString").toggle();
                });
            });


        </script>
    }

