@model CadastroAcessoViewModel

@{
    ViewBag.Title = "Exclusão de Usuários da Aplicação de Comissões";
}

@{
    string confirmMessageOK = "Tem certeza que deseja excluir o usuário " + Html.DisplayFor(model => model.NomeCompleto) + " ?";
    bool exibeBotaoExcluir = true;
    
    List<String> confirmMessageErrorList = new List<String>();

    if (Model.ControleAcesso.AusenciaRemuneradas.Count() > 0)
    {
        confirmMessageErrorList.Add("O usuário " + Html.DisplayFor(model => model.NomeCompleto) + " não pode ser excluído, por haver dados de ausência remunerada associados a ele. Exclua todos os respectivos dados de ausência remunerada primeiro.");
        exibeBotaoExcluir = false;
    }

    
}

<h1 class="headerForm">@ViewBag.Title</h1>
<p class="errorMessage">@ViewBag.ErrorMessage</p>

@{
    if (exibeBotaoExcluir)
    {
        <p class="confirmMessage">@confirmMessageOK</p>
    }
    else
    {
        foreach (string item in confirmMessageErrorList)
        {
            <p class="confirmMessage">@item</p>
        }        
    }
}



<div>   

    <div>
        <p><label class="caption">@Html.DisplayNameFor(model => model.NomeSuperiorCompleto)</label><label>@Html.DisplayFor(model => model.NomeSuperiorCompleto)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.NomeCompleto)</label><label>@Html.DisplayFor(model => model.NomeCompleto)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.ControleAcesso.LOGIN)</label><label>@Html.DisplayFor(model => model.ControleAcesso.LOGIN)</label></p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.ControleAcesso.ADMIN) </label>
                                    @if (Model.ControleAcesso.ADMIN == "S")
                                    { <label>Sim</label>}else{<label>Não</label>}</p>
        <p><label class="caption">@Html.DisplayNameFor(model => model.ControleAcesso.STATUS) </label>
                                    @if (Model.ControleAcesso.STATUS == "A")
                                    { <label>Ativo</label>}else{<label>Inativo</label>}</p>
    </div>

    <p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            if (exibeBotaoExcluir)
            {
                <input type="submit" value="Excluir" class="botoesCategoria" />                    
            }
            
            @Html.ActionLink("Voltar", "CadastroAcessoIndex", "Plano", new { @statusSearchString = "A" }, new { @class = "botoesCategoria" })
        }
    </p>
</div>
